<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xpression</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6dcb0c4874.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!--New font-->   
</head>
  <body>
      <header class="page_header">
          <img src="Images/Xpress it!.png" class="logo">
          <form class="search_bar">
            <input type="text" placeholder="type anything..." name="search">
            <button type="submit"><b id="button_search">Search</b></button>
          </form>
          <!--<i class="fas fa-user-astronaut" id=user_icon></i>-->
          <i class="large material-icons" id=user_icon>account_circle</i>
      </header>
      <main>

            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
           <h1 class="page-header">Welcome, {{ name }}</h1>
          <div>
            <button class="trending">Trending</button>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">GIF1</div>
              <div class="col">GIF2</div>
              <div class="col">GIF3</div>
              <div class="col">GIF4</div>
              <div class="col">GIF5</div>
            </div>
            <div class="row">
                <div class="col">GIF6</div>
                <div class="col">GIF7</div>
                <div class="col">GIF8</div>
                <div class="col">GIF9</div>
                <div class="col">GIF10</div>
            </div>
          </div>
        
      </main>
      <footer>
        <span class="copyright"><b>&copy Xpression</b></span>
      </footer>
	<script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
  </body>
</html>