.body {
    background: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    
    }
    .container {
        display:grid;
        grid-template-columns: auto, auto, auto, auto, auto;
        background: black;
        margin-left: 20px;
        margin-right: 20px;
    }
    .grid_item {
        text-align: center;
        font-size: 30px;
    }
    .logo {
        width: 160px;
        height: auto;
        margin-left: 30px;
    }
    .page_header {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        font-size: 18px;
    }
    header {
        background: black;
        color: yellowgreen;
        margin-bottom: 100px;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
     }
     .trending {
         margin-bottom: 100px;
         background: greenyellow;
         margin-left: 20px;
         color: black;
     }
     .search_bar {
         margin-top: 30px;
     }
     #user_icon {
         margin-top: 30px;
         width: 160px;
         height:auto;
         text-align: right;
     }
     #row1 {
         row-gap: 20px;
         column-gap: 20px;

     }
     .nav_bar li{
        display: inline;
        list-style: none;
        margin: 30px;
     }
     .row{
         display: flex;
     }
     nav ul li a {
        color:yellowgreen;

     }
    .trend{
        color: black;
        text-decoration: none;
    }
    .trend:hover {
        color: white;
    }
    .trending:hover {
        background-color: orangered;
    }
    .col {
        border-bottom-style: solid;
        border-right-style: solid;
        border-right-color: thistle;
        border-bottom-color: thistle;

    }
    .like {
        width: 30px;
        height: 30px;
    }
    button.more {
        margin: 30px;
    }
