.body {
background: black;
font-family: 'Montserrat', sans-serif;

}
.container {
    display:grid;
    grid-template-columns: auto, auto, auto, auto, auto;
    background: white;
    margin-left: 20px;
    margin-right: 20px;
}
.grid_item {
    text-align: center;
    font-size: 30px;
}
.logo {
    width: 160px;
    height: auto;
    margin-left: 30px;
}
.page_header {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
header {
    background: black;
    color: white;
    margin-bottom: 100px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
 .trending {
     margin-bottom: 100px;
     background: greenyellow;
     margin-left: 20px;
 }
 .search_bar {
     margin-top: 30px;
 }
 #user_icon {
     margin-top: 30px;
     width: 160px;
     height:auto;
     text-align: right;
 }
 #row1 {
     row-gap: 20px;
     column-gap: 20px;
 }
 