.Fav {
    margin-bottom: 100px;
    background: greenyellow;
    margin-left: 20px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
header {
    background: black;
    color: white;
    margin-bottom: 100px;
}
.logo {
    width: 160px;
    height: auto;
    margin-left: 30px;
}